input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

button.btn-submit{
    width: 100%;
    background-color: #000000;
    color: #eafaf9;
}

ul.answer li:hover{
    background-color: #000000;
    color: #eafaf9;
    cursor: pointer;
    border-radius: 40px;
    height: 50px;
}

ul li.selected{
    background-color: #000000 !important;
    color: #eafaf9 !important;
    border-radius: 40px;
    height: 50px;
}
    @font-face {
    font-family:"hobo-std";
    src:url("https://use.typekit.net/af/10fd15/0000000000000000000131c3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/10fd15/0000000000000000000131c3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/10fd15/0000000000000000000131c3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }
    
    @font-face {
    font-family:"flegrei";
    src:url("https://use.typekit.net/af/74a5d1/00000000000000003b9b3d6e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/74a5d1/00000000000000003b9b3d6e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/74a5d1/00000000000000003b9b3d6e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }
    .tk-hobo-std { font-family: "hobo-std",sans-serif; }
    .tk-flegrei { font-family: "flegrei",sans-serif; }
    
 body{
     background-color: black;;
 }

.input .ng-pristine{
    background-color: #636363;
    border-bottom: #636363;
    box-shadow: #636363;
}

